@media (max-width: 640px){
    *{
        background-image: url(../Common/IMG/Background/BG5.jpg);
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
    
        
    }
    
    
  
    #icon{
        
        width:100px;
        position:fixed;
        left: 3%;
        top:3%;
        animation:  iconani2 5s 5s linear ;
        text-align: center;
        border-radius: 50%;
        display:flexbox;
    
        
    }
    @keyframes iconani2{
        0%   { }
        20%   {border-radius: 25%; }
        30% {border-radius: 50%;}
        50% { border-radius: 25%; }
        100% {border-radius: 10%; }
    }
    







    #hd {
        background-image: linear-gradient(
            -225deg,
            #3bda2d 0%,
            #57f8dd 29%,
            #ff1361 67%,
            #fff800 100%  );
        
        background-size:auto auto;
        background-clip: border-box;
        background-size:200% auto;
        color: #fff;
        background-clip: text;
        text-overflow: transparent;
        -webkit-background-clip:text;
        -webkit-text-fill-color: transparent;
        animation: textani 5s linear infinite ;
        animation-timing-function:relative;
    
        position:fixed;
        left: 10%;
        top:7%;

    
        font-size: 200%;
        text-align:left;
        font-style: italic;
    
    }
    
    @keyframes textani{
        to {
            background-position: bottom;
        }
    }
    


    p{
        color:antiquewhite ;
    }
    h3{
        color:aqua;
    }
    h1{
        color:aqua; 
    }
    h2{
        color: red;
    }
    li:hover{
        cursor: pointer;
        color:burlywood;
        font-size: 100%;
        
    }
    #topics{           
        position:fixed;
        left: 1%;
        top:20%;
        margin-left: 1%;
        width: 25% 25%;
    
        border: solid;
        border-width: 5px;
        border-color: rgb(21, 250, 231);
        display: inline;
        color: #ff1361;
        padding: 1%;   
    }



    
    #intro{
        margin-top: 10%;
        margin-left: 15%;
        margin-right: 15%;
    }

    #Explore{
        margin-top: 10%;
        border: 10px;
        border: solid;
        border-radius: 20%;
        padding: 10px;
        justify-content: center;
        position:relative  
    }


    #content{
        margin-left: 30%;         
    }    
    
    
    
    #page1{
        position:static;
        margin-top: 10%;
        color: rgba(0, 0, 0, 0.966);
        justify-content: space-around;
    
    }

}

@media screen and (min-width: 481px) and (max-width: 767px) {}

@media (min-width: 768px) and (max-width: 1024px){}

@media (min-width: 1025px) and (max-width: 1280px){}
@media (min-width: 1281px) {}
@media  (min-width: 1025px){
        *{
            background-image: url(../Common/IMG/Background/BG5.jpg);
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: cover;
        
            
        }
        
        
      
        #icon{
            
            width:100px;
            position:fixed;
            left: 3%;
            top:3%;
            animation:  iconani2 5s 5s linear ;
            text-align: center;
            border-radius: 50%;
            display:flexbox;
        
            
        }
        @keyframes iconani2{
            0%   { }
            20%   {border-radius: 25%; }
            30% {border-radius: 50%;}
            50% { border-radius: 25%; }
            100% {border-radius: 10%; }
        }
        







        #hd {
            background-image: linear-gradient(
                -225deg,
                #3bda2d 0%,
                #57f8dd 29%,
                #ff1361 67%,
                #fff800 100%  );
            
            background-size:auto auto;
            background-clip: border-box;
            background-size:200% auto;
            color: #fff;
            background-clip: text;
            text-overflow: transparent;
            -webkit-background-clip:text;
            -webkit-text-fill-color: transparent;
            animation: textani 5s linear infinite ;
            animation-timing-function:relative;
        
            position:fixed;
            left: 10%;
            top:7%;

        
            font-size: 200%;
            text-align:left;
            font-style: italic;
        
        }
        
        @keyframes textani{
            to {
                background-position: bottom;
            }
        }
        


        p{
            color:antiquewhite ;
            padding-left: 2%;
        }
        
       
        h1{color:aqua; }
        h2{color: red;}
        h3{color:aqua; }
        h4{color:#3bda2d}

        li:hover{
            cursor: pointer;
            color:burlywood;
            font-size: 100%;
            
        }
        #topics{           
            position:fixed;
            left: 1%;
            top:20%;
            margin-left: 1%;
            width: 25% 25%;
        
            border: solid;
            border-width: 5px;
            border-color: rgb(21, 250, 231);
            display: inline;
            color: #ff1361;
            padding: 1%;   
        }



        
        #intro{
            margin-top: 10%;
            margin-left: 15%;
            margin-right: 15%;
        }

        #Explore{
            margin-top: 10%;
            border: 10px;
            border: solid;
            border-radius: 20%;
            padding: 10px;
            justify-content: center;
            position:relative  
        }


        #content{
            margin-left: 25%; 
            margin-right: 2%;       
        }    
        
        
        
        #page{
            position:static;
            margin-top: 10%;
            color: rgba(0, 0, 0, 0.966);
            justify-content: space-around;
        
        }
        
        
    
    
  

}
        