<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title src="IMG/Logo/logo-white.png">  AnonyHackz</title>
   
    <script defer type="text/javascript" src="static/js/vjhex.js"></script>
    <link rel="stylesheet" href="static/css/vjhex.css">
</head>
<body id="container">
    
   <div id="HdIntro">
        <div  id="parent">  <img id="icon" src="IMG/logo-white.png"><h1 id="hd"> Anony Hackz </h1> </div>

        <p id="intro">Thank you for selecting our Anony Hackz learning platform. We highly appreciate your decision and are delighted to have you as part of our community.</p>
 
   </div>
   <div>
    
   </div>



   <button id="bt" onclick="he()">Let's have a look</button>
    

</body>
</html>

